:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-color: #2D3E8F;
    --primary-hover-color: #1a2a5f;
    --secondary-bg: #ceac24;
    --secondary-color: #2a6675ff;
    --secondary-hover-color: rgb(26, 66, 77);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    font-family: 'Somar', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* Colors */

.primary-color {
    color: var(--primary-color);
}

.primary-bg {
    background-color: var(--primary-color);
}

.primary-bg:hover {
    background-color: var(--primary-hover-color);
}


/* Utils */

.clamp-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cursor-pointer {
    cursor: pointer;
}

.w-md-75 {
    width: 100%;
}

@media (min-width:768px) {
    .w-md-75 {
        width: 75%;
    }

}

.slick-dots li button:before {
    content: none !important;
}

.slick-dots li {
    width: 8px !important;
    height: 8px !important;
    background-color: var(--primary-color);
    border-radius: 11px;
    transition: all 0.3s ease-in-out;
}

.slick-dots li.slick-active {
    width: 21px !important;
}

.testimonial-slide {
    border-radius: 18px;
    border: 1px solid rgba(219, 219, 219, 1);
}

@media screen and (max-width: 575px) {
    .text-center-sm {
        text-align: center;
    }
}

.w-sm-75 {
    width: 100%;
}

@media (min-width:576px) {
    .w-sm-75 {
        width: 75%;
    }

}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

.custom-pagination .MuiPaginationItem-root.Mui-selected {
    background-color: var(--primary-color);
    color: #fff;
}

.custom-pagination .MuiPaginationItem-root.Mui-selected:hover {
    background-color: var(--primary-hover-color);
    color: #fff;
}

[dir="rtl"] .MuiPaginationItem-icon {
    transform: rotate(180deg);
}


/* Navbar */

#navbar a {
    font-weight: 500;
}

#navbar a.active {
    color: var(--primary-color);
    font-weight: 600;
}

/* Buttons */

.primaryButton {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.primaryButton:hover {
    background-color: var(--primary-hover-color);
}

.primaryButton {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.secondaryButton {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.secondaryButton:hover {
    background-color: var(--secondary-hover-color);
}